// IMPORTS -------- //
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

// FONTS ---------- //
$montserrat: 'Montserrat', sans-serif;
$courierNew: 'Courier New', sans-serif;

// COLORS --------- //
$white: #ffffff;
$prestigeBlue: #2f3542;
$grisaille: #57606f;
$wildWatermelon: #ff6b81;
$watermelon: #ff4757;
$frenchSkyBlue: #70a1ff;
$clearChill: #1e90ff;

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $prestigeBlue;
    font-family: $montserrat;
    font-weight: 700;
}

p {
    color: $grisaille;
    font-family: $courierNew;
    font-weight: 400;
}

a {
    color: $frenchSkyBlue;
    font-family: $courierNew;
    font-weight: 400;
    transition: color 0.2s ease-in;

    &:hover {
        color: $clearChill;
    }

    &:focus {
        color: $clearChill;
    }

    &:target {
        color: $clearChill;
    }

    &:active {
        color: $clearChill;
    }    
}

button {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: $wildWatermelon;
    border: none;
    box-shadow: none;
    color: $white;
    font-family: $montserrat;
    font-weight: 400;
    transition: background-color 0.2s ease-in;

    &:hover {
        background-color: $watermelon;
    }

    &:focus {
        background-color: $watermelon;
    }

    &:target {
        background-color: $watermelon;
    }

    &:active {
        background-color: $watermelon;
    }
}