doctype html
html(lang="en")
    include ../includes/head.pug
    body
        h1 Welcome to the views/about.html page
        p If you're reading this it means that the router is working as expected!
        include ../includes/foot.pug