doctype html
html(lang="en")
    include ../includes/head.pug
    body
        h1 Welcome to the views/error.html 
        p If you're reading this it means that what you're looking for does not exist, try again!
        include ../includes/foot.pug