doctype html
html(lang="en")
    include ../includes/head.pug
    body
        h1 Welcome to the views/index.html page
        p If you're reading this it means that you are ready to start your project ASAP!
        include ../includes/foot.pug